<!DOCTYPE html>
<html>
<body>
<div class="container" data-th-fragment="content">
    <h3 data-th-text="${labelForm}">Message</h3>
    <br/>
    <form class="form-horizontal" role="form" data-th-action="${action}" data-th-object="${message}" method="post">
        <ul data-th-if="${#fields.hasErrors('*')}">
            <li data-th-each="e : ${#fields.detailedErrors()}" data-th-text="${e.fieldName + ' ' + e.message}" class="text-danger">Erro ao salvar dados</li>
        </ul>

        <br/>

        <input type="hidden" data-th-field="*{id}" />

        <div class="form-group" data-th-classappend="${#fields.hasErrors('feed')}? has-error">
            <label for="inputFeedMessage" class="col-sm-2 control-label" data-th-text="#{message.field.feed}">Feed</label>
            <div class="col-sm-4">
                <select id="inputFeedMessage" class="form-control" data-th-field="*{feed.id}">
                    <option data-th-each="feed : ${feedList}"
                            data-th-value="${feed.id}"
                            data-th-text="${feed.name}">Select</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-th-classappend="${#fields.hasErrors('title')}? has-error">
            <label for="inputMessageTitle" class="col-sm-2 control-label" data-th-text="#{message.field.title}">Title</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputMessageTitle" placeholder="Message Title" data-th-field="*{title}" data-th-placeholder="#{message.placeholder.title}"/>
            </div>
        </div>

        <div class="form-group" data-th-classappend="${#fields.hasErrors('body')}? has-error">
            <label for="inputMessageBody" class="col-sm-2 control-label" data-th-text="#{message.field.body}">Message</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="inputMessageBody" placeholder="Message" data-th-field="*{body}" rows="8" data-th-placeholder="#{message.placeholder.body}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" data-th-text="#{action.btn.save}">Save</button>
                <a class="btn btn-default" href="#" data-th-href="@{/message}" data-th-text="#{action.btn.cancel}">Cancel</a>
            </div>
        </div>
    </form>

    <script data-th-src="@{/static/js/tinymce/tinymce.js}" src="static/js/tinymce.js"></script>
    <script data-th-src="@{/static/js/tinymce/plugins/code/plugin.js}" src="static/js/tinymce/plugins/code/plugin.js"></script>
    <script>
        tinymce.init({
            plugins: "code",
            width: 580,
            selector: "textarea",
            menubar: false,
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | code"
        });
    </script>
</div>
</body>
</html>
