<!DOCTYPE html>
<html>
<body>
    <div class="container" data-th-fragment="content">
        <div class="row clearfix">
            <div class="col-md-10 column">
                <h1>Feeds</h1>

                <div data-th-unless="${#lists.isEmpty(feedList)}">
                    <table class="table">
                        <thead>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Identificador</th>
                        <th>Tipo</th>
                        <th>Feed</th>
                        <th>A&ccedil;&atilde;o</th>
                        </thead>
                        <tbody>
                        <tr data-th-each="feed : ${feedList}">
                            <td data-th-text="${feed.id}">1</td>
                            <td><a href="#" data-th-href="@{/feed/{feed.id}(feed.id=${feed.id})}" data-th-text="${feed.name}">Feed</a></td>
                            <td data-th-text="${feed.identifier}">identifier</td>
                            <td data-th-text="${feed.feedType.name}">Tipo</td>
                            <td><a href="#" data-th-href="@{/rss/{identifier}.xml(identifier=${feed.identifier})}"><img src="#" data-th-src="@{/static/img/feed_icon.png}" /></a></td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs" data-th-href="@{/feed/edit/{feed.id}(feed.id=${feed.id})}">Alterar</a>
                                <a href="#" class="btn btn-xs btn-danger removeLink" data-th-attr="data-remove-id=${feed.id}, data-remove-uri=@{/feed}">Apagar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br />

                <a id="new-feed" class="btn btn-primary" href="new.html" data-th-href="@{feed/new}">Novo Feed</a>
            </div>
        </div>
    </div>
</body>
</html>
