<!DOCTYPE html>
<html>
<body>
<div class="container" data-th-fragment="content">
    <h1>Feed</h1>
    <br/>
    <div data-th-object="${feed}">
        <p><strong>Id</strong></p>
        <p><span data-th-text="*{id}">Id</span></p>

        <p><strong>Tipo do Feed</strong></p>
        <p><span data-th-text="*{feedType.name}">Tipo do Feed</span></p>

        <p><strong>Nome</strong></p>
        <p><span data-th-text="*{name}">Nome Feed</span></p>

        <p><strong>Descri&ccedil;&atilde;o</strong></p>
        <p><span data-th-text="*{description}">Descri&ccedil;&atilde;o Feed</span></p>

        <p><strong>Identificador</strong></p>
        <p><span data-th-text="*{identifier}">Identificador Feed</span></p>

        <p><strong>Token</strong></p>
        <p><span data-th-text="*{token}">Token Feed</span></p>

        <p><strong>Ativo</strong></p>
        <p><span data-th-text="*{active}">Ativo</span></p>

        <p><strong>Criado</strong></p>
        <p><span data-th-text="*{createdAt}">Criado</span></p>

        <p><strong>Alterado</strong></p>
        <p><span data-th-text="*{updatedAt}">Alterado</span></p>
    </div>
    <br/>
    <div>
        <a class="btn btn-primary" href="#" data-th-href="@{/feed}">Feeds</a>
        <a class="btn btn-primary" href="#" data-th-href="@{/feed/edit/{feed.id}(feed.id=${feed.id})}">Alterar</a>
        <a class="btn btn-danger" href="#">Apagar</a>
    </div>
</div>
</body>
</html>
