<!DOCTYPE html>
<html>
<body>
<div class="container" data-th-fragment="content">
    <h1>Feed</h1>
    <br/>
    <div data-th-object="${feed}">
        <p><strong data-th-text="#{feed.id}">Id</strong></p>
        <p><span data-th-text="*{id}">Id</span></p>

        <p><strong data-th-text="#{feed.type}">Feed Type</strong></p>
        <p><span data-th-text="*{feedType.name}">Feed Type</span></p>

        <p><strong data-th-text="#{feed.name}">Feed Name</strong></p>
        <p><span data-th-text="*{name}">Feed Name</span></p>

        <p><strong data-th-text="#{feed.description}">Description</strong></p>
        <p><span data-th-text="*{description}">Description</span></p>

        <p><strong data-th-text="#{feed.identifier}">Identifier</strong></p>
        <p><span data-th-text="*{identifier}">Identifier</span></p>

        <p><strong data-th-text="#{active.label}">Active</strong></p>
        <p><span data-th-text="*{active}">Active</span></p>

        <p><strong data-th-text="#{createdAt.label}">Created At</strong></p>
        <p><span data-th-text="*{createdAt}">Created At</span></p>

        <p><strong data-th-text="#{updatedAt.label}">Updated At</strong></p>
        <p><span data-th-text="*{updatedAt}">Updated At</span></p>
    </div>
    <br/>
    <div>
        <a class="btn btn-primary" href="#" data-th-href="@{/feed}">Feeds</a>
        <a class="btn btn-primary" href="#" data-th-href="@{/feed/edit/{feed.id}(feed.id=${feed.id})}" data-th-text="#{action.btn.edit}">Edit</a>
        <a class="btn btn-danger" href="#" data-th-text="#{action.btn.delete}">Delete</a>
    </div>
</div>
</body>
</html>
