<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Fission</title>
  <link rel="stylesheet" data-th-href="@{/static/css/bootstrap.css}" href="static/css/bootstrap.css" />
  <script data-th-src="@{/static/js/jquery.js}" src="static/js/jquery.js"></script>
  <script data-th-src="@{/static/js/bootstrap.js}" src="static/js/bootstrap.js"></script>

  <script data-th-src="@{/static/js/app.js}" src="static/js/app.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-th-href="@{/}">RSS Feed</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a data-th-href="@{/feed}" href="#">Feed</a>
                        </li>
                        <li>
                            <a data-th-href="@{/message}" href="#">Mensagem</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div data-th-replace="${view} :: content">
                Conteudo não encontrado
            </div>
        </div>
    </div>
</div>
</body>
</html>
