<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="_csrf_header" data-th-content="${_csrf.headerName}"/>
  <meta name="_csrf" data-th-content="${_csrf.token}"/>
  <title>Fission</title>
  <link rel="stylesheet" data-th-href="@{/static/css/bootstrap.css}" href="static/css/bootstrap.css" />
  <script data-th-src="@{/static/js/jquery.js}" src="static/js/jquery.js"></script>
  <script data-th-src="@{/static/js/bootstrap.js}" src="static/js/bootstrap.js"></script>

  <script data-th-src="@{/static/js/app.js}" src="static/js/app.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-th-href="@{/}">RSS Feed</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a data-th-href="@{/feed}" href="#" data-th-text="#{navBar.menu.feed}">Feed</a>
                            </li>
                            <li>
                                <a data-th-href="@{/message}" href="#" data-th-text="#{navBar.menu.message}">Message</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" data-th-text="${#authentication.name}">User</a>
                            </li>
                            <li>
                                <a data-th-href="@{/logout}" href="#" data-th-text="#{navBar.menu.logout}">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div data-th-replace="${view} :: content">
                Content not found
            </div>
        </div>
    </div>
</div>
</body>
</html>
